<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">

  <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>

  {{>navbar}}

  <section class="about-diet m-block container">
    <h2>About DIET <span class="highlighted">Kamki</span></h2>
    <p>District Institute of Education and Training (DIET) Kamki lies in the lap of Shivalik Range of Himalayas which is very far from the madding crowd of the towns and basti/ villages. Its location is nearly south-west of West Siang District of Arunachal Pradesh. From the eastern side it has bounded by perennial River Yomgo along which high mountain stands like a giant and colossal wall and makes our DIET’s climate cold throughout the year. From the northern side it has been bounded by the swamp and marshy land covered by the hedges and shrubs retaining leaves throughout the year and makes our DIET evergreen. It has bounded by the scattered settlements from the west and from the south side by the shrubs and hedges of the Donyi-Polo Government College Kamki. That is to say, all around the DIET lush green coverage of vegetation, rugged mountain, riverine swamps and deep river valleys can be observed with zero pollution level which make our institute picturesque and unique. It may be symbolized as Gurukul of Ramayan and Mahabharat periods.
    </p>
    <br>
    <p>DIET Kamki is a premier institute of education in the district. With a mission to provide academic and resource support at the grass-root level it has been established in the year 2008. From that time onwards it has been working for the success of the various projects and programmes being undertaken by the district administration. Its contribution in the field of elementary education with special reference to universalization of elementary education (UEE) and  National Literacy mission (NLM) cannot be underestimated. For the purpose of sustained growth and development of the education in the district it has been working since its inception and it would have been working in time to come. </p>
    <br>
    <p>Initially PSTE Course was not operational in the DIET, but other all the activities like In- Service Teacher Training programmes, looking after the Lab-Area Schools, implementation of national and state level educational programmes/ projects and supporting the teachers of the district were undertaken with much devotion and sincerity. In due course, PSTE (Pre-Srvice Teachers Education ) Course leading 2-years Diploma in Elementary Education programme was started with intake capacity of 30 trainees, but it has been upgraded with one unit (50 trainees) intake capacity from the year 2023 by State Council of Educational Research & Training (SCERT) Itanagar.</p>
  </section>

  <section class="org-structure container m-below">
    <h2>Organizational <span class="highlighted">Structure</span></h2>
    <img src="/assets/org_str.png" alt="organizational structure" class="org-structure-img">
  </section>


  <section class="functions container m-below">
    <h2>Roles and <span class="highlighted">Functions</span></h2>
    <div class="flex functions-container">
      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>
    </div>

  </section>

  <section class="directory container m-below">
    <h2>Directory</h2>
    <table>
      <tr class="form-row-heading">
        <th><h3>Sl No.</h3></th>
        <th><h3>Name</h3></th>
        <th><h3>Designation</h3></th>
        <th><h3>Qualification</h3></th>
        <th><h3>Contact</h3></th>
        <th><h3>Email</h3></th>
        <th class="th-photo"><h3>Photo</h3></th>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>
    </table>
  </section>

  {{>footer}}

  <script src="/js/index.js"></script>

</body>

</html>