<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">

  <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>

  {{>navbar}}

  <section class="about-diet m-block container">
    <h2>About DIET <span class="highlighted">Kamki</span></h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, ipsum consequuntur. Itaque, ab? Nam officiis
      expedita aut officia reprehenderit esse assumenda corporis, voluptates placeat earum a enim minus aliquam omnis
      accusantium libero doloremque possimus cumque delectus natus? Corporis nostrum magnam voluptatum quisquam aliquid
      deserunt ullam! Ullam perferendis fugiat nesciunt minima consectetur vitae illo blanditiis, fugit recusandae earum
      sunt at nemo, dolorem vero iure debitis! Similique, quo eaque maiores labore a obcaecati consectetur, nemo
      laudantium exercitationem amet minus excepturi assumenda expedita ipsam. Maxime veniam explicabo magni nostrum
      laudantium, perspiciatis, dicta debitis quis tenetur modi culpa earum amet placeat cumque excepturi architecto.
    </p>
    <br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, ipsum consequuntur. Itaque, ab? Nam officiis
      expedita aut officia reprehenderit esse assumenda corporis, voluptates placeat earum a enim minus aliquam omnis
      accusantium libero doloremque possimus cumque delectus natus? Corporis nostrum magnam voluptatum quisquam aliquid
      deserunt ullam! Ullam perferendis fugiat nesciunt minima consectetur vitae illo blanditiis, fugit recusandae earum
      sunt at nemo, dolorem vero iure debitis! Similique, quo eaque maiores labore a obcaecati consectetur, nemo
      laudantium exercitationem amet minus excepturi assumenda expedita ipsam. Maxime veniam explicabo magni nost</p>
    <br>
    <p>is nostrum magnam voluptatum quisquam aliquid deserunt ullam! Ullam perferendis fugiat nesciunt minima
      consectetur vitae illo blanditiis, fugit recusandae earum sunt at nemo, dolorem vero iure debitis! Similique, quo
      eaque maiores labore a obcaecati consectetur, nemo laudantium exercitationem amet minus excepturi assumenda
      expedita ipsam. Maxime veniam explicabo magni nostrum laudantium, perspiciatis, dicta debitis quis tenetur modi
      culpa earum amet placeat cumque excepturi architecto.</p>
    <br>
    <p>accusantium libero doloremque possimus cumque delectus natus? Corporis nostrum magnam voluptatum quisquam aliquid
      deserunt ullam! Ullam perferendis fugiat nesciunt minima consectetur vitae illo blanditiis, fugit recusandae earum
      sunt at nemo, dolorem vero iure debitis! Similique, quo eaque maiores labore a obcaecati consectetur, nemo
      laudantium exercitationem amet minus excepturi assumenda expedita ipsam. Maxime veniam explicabo magni nostrum
      laudantium, perspiciatis, dicta debitis quis tenetur modi culpa earum amet placeat cumque excepturi architecto.
    </p>
  </section>

  <section class="org-structure container m-below">
    <h2>Organizational <span class="highlighted">Structure</span></h2>
    <img src="/assets/org_str.png" alt="organizational structure" class="org-structure-img">
  </section>


  <section class="functions container m-below">
    <h2>Roles and <span class="highlighted">Functions</span></h2>
    <div class="flex functions-container">
      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Evolving minds</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi aspernatur at expedita sed autem.
            Impedit.
          </p>
        </div>
      </div>
    </div>

  </section>

  <section class="directory container m-below">
    <h2>Directory</h2>
    <table>
      <tr class="form-row-heading">
        <th><h3>Sl No.</h3></th>
        <th><h3>Name</h3></th>
        <th><h3>Designation</h3></th>
        <th><h3>Qualification</h3></th>
        <th><h3>Contact</h3></th>
        <th><h3>Email</h3></th>
        <th><h3>Photo</h3></th>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>John Doe</p></td>
        <td><p>Principal</p></td>
        <td><p>MBA</p></td>
        <td><p>91 + 8974164747</p></td>
        <td><p>contact@dietkamki.com</p></td>
        <td class="table-image"><img src="/assets/images/field_03.jpg" alt="principal photo"></td>
      </tr>
    </table>
  </section>

  {{>footer}}


  <script src="/js/index.js"></script>

</body>

</html>