<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">

 <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous"></script>
  <title>About us</title>
</head>

<body>

  {{>navbar}}

  <section class="about-diet m-block container">
    <h2>About DIET <span class="highlighted">Kamki</span></h2>
    <p>District Institute of Education and Training (DIET) Kamki lies in the lap of Shivalik Range of Himalayas which is very far from the madding crowd of the towns and basti/ villages. Its location is nearly south-west of West Siang District of Arunachal Pradesh. From the eastern side it has bounded by perennial River Yomgo along which high mountain stands like a giant and colossal wall and makes our DIET’s climate cold throughout the year. From the northern side it has been bounded by the swamp and marshy land covered by the hedges and shrubs retaining leaves throughout the year and makes our DIET evergreen. It has bounded by the scattered settlements from the west and from the south side by the shrubs and hedges of the Donyi-Polo Government College Kamki. That is to say, all around the DIET lush green coverage of vegetation, rugged mountain, riverine swamps and deep river valleys can be observed with zero pollution level which make our institute picturesque and unique. It may be symbolized as Gurukul of Ramayan and Mahabharat periods.
    </p>
    <br>
    <p>DIET Kamki is a premier institute of education in the district. With a mission to provide academic and resource support at the grass-root level it has been established in the year 2008. From that time onwards it has been working for the success of the various projects and programmes being undertaken by the district administration. Its contribution in the field of elementary education with special reference to universalization of elementary education (UEE) and  National Literacy mission (NLM) cannot be underestimated. For the purpose of sustained growth and development of the education in the district it has been working since its inception and it would have been working in time to come. </p>
    <br>
    <p>Initially PSTE Course was not operational in the DIET, but other all the activities like In- Service Teacher Training programmes, looking after the Lab-Area Schools, implementation of national and state level educational programmes/ projects and supporting the teachers of the district were undertaken with much devotion and sincerity. In due course, PSTE (Pre-Srvice Teachers Education ) Course leading 2-years Diploma in Elementary Education programme was started with intake capacity of 30 trainees, but it has been upgraded with one unit (50 trainees) intake capacity from the year 2023 by State Council of Educational Research & Training (SCERT) Itanagar.</p>
  </section>

  <section class="org-structure container m-below">
    <h2>Organizational <span class="highlighted">Structure</span></h2>
    <img src="/assets/about/org_str.webp" alt="organizational structure" class="org-structure-img">
  </section>


  <section class="functions container m-below">
    <h2>Roles and <span class="highlighted">Functions</span></h2>
    <div class="flex functions-container">
      <div class="functions-box">
        <div class="function-box-content">
          <h3>D. El. Ed. Programme</h3>
          <p>It is a pre-service teacher education programme required to be done for becoming a teacher in the elementary education. DIET Kamki conducts this programme since 2013 and at present there are around 100 trainees enrolled in the institute. It runs in our DIET in a regular and offline/ Face to Face mode. 
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Training</h3>
          <p>DIET Kamki provides training inputs to Heads of Schools, Teachers, Officers & Officials of Education Department, PRI members, SMC members, and feeder districts in the light of NEP2020. We also arrange training and workshop programmes to update them with new regulations and techniques.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Monitoring & Supervision of Schools</h3>
          <p>
            DIET Kamki monitors and supervises the teaching-learning process conducted in the schools of the district. We try to show the right direction following which a school can become an ideal one. We suggest them regarding use of new tools and techniques of teaching and evaluation
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Action Research</h3>
          <p>For solving the day to day problems of the institute action research is done by DIET Kamki. It bridges the gap between theory and practice. It is generally conducted by our faculties in the Lab Areas Schools. It helps  the teachers and administrators to implement the programmes and projects undertaken by them.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Survey Programme</h3>
          <p>DIET Kamki assists the officers and officials involved in the survey programmes like NAS and ASER. Our trainees work as an investigators and faculties as a supervisor and thus survey programme accomplishes. Their finding helps the researchers and administrators, teachers and others.
          </p>
        </div>
      </div>

      <div class="functions-box">
        <div class="function-box-content">
          <h3>Lab Area Schools</h3>
          <p>There are many schools in the Lab Area of DIET Kamki where we conduct Practice of Teaching (PoT), Action Research and some other activities related to teaching and learning. We care the schools of our Lab Area. We support them mentally, physically, educationally and emotionally. We invite them during training programmes at DIET and try to mould them.
          </p>
        </div>
      </div>
    </div>

  </section>

  <section class="directory container m-below">
    <h2>Directory</h2>
    <table>
      <tr class="form-row-heading">
        <th><h3>Sl No.</h3></th>
        <th><h3>Name</h3></th>
        <th><h3>Designation</h3></th>
        <th><h3>Qualification</h3></th>
        <th><h3>Contact</h3></th>
        <th><h3>Email</h3></th>
        <th class="th-photo"><h3>Photo</h3></th>
      </tr>

      <tr>
        <td><p>01</p></td>
        <td><p>Rajesh Jamoh</p></td>
        <td><p>Senior Lecturer</p></td>
        <td><p>MA (Pol.Science) M.Ed.</p></td>
        <td><p>9612210330</p></td>
        <td><p>rajeshjamoh@gmail.com </p></td>
        <td class="table-image"><img src="/assets/about/person_01.png" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>02</p></td>
        <td><p>Rabindra Nath yadav</p></td>
        <td><p>Lecturer (Hindi)</p></td>
        <td><p>M.A. Double(Hindi, Sociology), BEd.</p></td>
        <td><p>9807369527</p></td>
        <td><p>Yadavrn19956@gmail.com</p></td>
        <td class="table-image"><img src="/assets/about/person_03.png" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>03</p></td>
        <td><p>Upendra Ray</p></td>
        <td><p>Lecturer</p></td>
        <td><p>M.A. (English)B.Ed.</p></td>
        <td><p>8256950108</p></td>
        <td><p> upendraray1968@gmail.com</p></td>
        <td class="table-image"><img src="/assets/about/person_02.png" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>04</p></td>
        <td><p>Gemar Karga</p></td>
        <td><p>Lecturer</p></td>
        <td><p>MA / M. Ed</p></td>
        <td><p>6909298892</p></td>
        <td><p>gemkarga@gmail.com</p></td>
        <td class="table-image"><img src="/assets/about/person_04.png" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>05</p></td>
        <td><p>Joi kato</p></td>
        <td><p>LDC</p></td>
        <td><p>BA</p></td>
        <td><p>7640942656</p></td>
        <td><p>Joikato1997@gmail.com</p></td>
        <td class="table-image"><img src="/assets/about/person_05.png" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>06</p></td>
        <td><p>Rede Gamlin</p></td>
        <td><p>MTS</p></td>
        <td><p>BA</p></td>
        <td><p>9362956296</p></td>
        <td><p>redegamlin@gm</p></td>
        <td class="table-image"><img src="/assets/about/person_06.png" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>07</p></td>
        <td><p>Momo Gao</p></td>
        <td><p>Accountant</p></td>
        <td><p>B.A.</p></td>
        <td><p> 9954895622</p></td>
        <td><p>mgao2358@gmail.com</p></td>
        <td class="table-image"><img src="/assets/about/person_07.png" alt="principal photo"></td>
      </tr>

      <tr>
        <td><p>08</p></td>
        <td><p>Liyom Kamki</p></td>
        <td><p>MTS</p></td>
        <td><p>XII pass</p></td>
        <td><p>8259016479</p></td>
        <td><p>Kamkiliyom@gmail.com</p></td>
        <td class="table-image"><img src="/assets/about/person_08.png" alt="principal photo"></td>
      </tr>
    </table>
  </section>

  {{>footer}}

  <script src="/js/index.js"></script>

</body>

</html>