<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/contact.css">

   <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous"></script>
  <title>Contact us</title>
</head>

<body>

  {{>navbar}}

  <section class="contact container m-block">
    <h2>Contact Us</h2>

    <div class="more-details">
      <div class="more-details-box">
        <h3>Address</h3>
        <p>Sri Doi Ado, Former Minister,Bogdo Aalo Post Office, Aalo, West Siang, Arunachal Pradesh, 791001 </p>
      </div>
      <div class="more-details-box">
        <h3>Emails</h3>
        <p>doiadoaalo@gmail.com, contact@dietkamki.org</p>
      </div>
      <div class="more-details-box">
        <h3>Phone Number</h3>
        <p>91+ 8974164747, 91+ 8749374810, 91+ 4859309509</p>
      </div>
    </div>

  </section>

  <section class="contact-map container m-below">
    <h2>Reach <span class="highlighted">us!</span></h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3513.757945554816!2d94.68633521515018!3d28.275355582559968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37403fb10a77750d%3A0x672e1a8a8cdfc34!2sDIET%20kamki!5e0!3m2!1sen!2sin!4v1680110987205!5m2!1sen!2sin"
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
  {{>footer}}


  <script src="/js/index.js"></script>

</body>

</html>