<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">
  <link rel="stylesheet" type="text/css" href="/css/programmes.css">

   <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

   <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous"></script>
  <title>Important Documents</title>
</head>

<body>

  {{>navbar}}

   <section class="survey container m-block">
    <h2>Survey & <span class="highlighted">Research</span></h2>
    <table>
      <tr class="form-row-heading">
        <th>
          <h3>Sl No.</h3>
        </th>
        <th>
          <h3>Title</h3>
        </th>
        <th>
          <h3>Download</h3>
        </th>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Curriculum</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/Home.pdf" download target="_blank"><i class="fa-regular fa-floppy-disk"></i></a>
        </td>
      </tr>
    </table>
  </section>

  <section class="certification container m-below">
    <h2>Certification</h2>
    <table>
      <tr class="form-row-heading">
        <th>
          <h3>Sl No.</h3>
        </th>
        <th>
          <h3>Title</h3>
        </th>
        <th>
          <h3>Download</h3>
        </th>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Curriculum</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/Home.pdf" download target="_blank"><i class="fa-regular fa-floppy-disk"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Curriculum</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/Home.pdf" download target="_blank"><i class="fa-regular fa-floppy-disk"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Curriculum</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/Home.pdf" download target="_blank"><i class="fa-regular fa-floppy-disk"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Curriculum</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/Home.pdf" download target="_blank"><i class="fa-regular fa-floppy-disk"></i></a>
        </td>
      </tr>
    </table>
  </section>

   <section class="useful-links container m-below">
    <h2>Useful <span class="highlighted">Links</span></h2>
    <table>
      <tr class="form-row-heading">
        <th>
          <h3>Sl No.</h3>
        </th>
        <th>
          <h3>Title</h3>
        </th>
        <th>
          <h3>Links</h3>
        </th>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>SCERT Arunachal Pradesh</p>
        </td>
        <td class="form-programme-download">
          <a href="http://scertarunachal.nic.in/UserPortal/Home.aspx" target="_blank">http://scertarunachal.nic.in/UserPortal/Home.aspx</a>
        </td>
      </tr>

      <tr>
        <td>
          <p>02</p>
        </td>
        <td>
          <p>NCERT Official site</p>
        </td>
        <td class="form-programme-download">
          <a href="https://ncert.nic.in/" target="_blank">https://ncert.nic.in/</a>
        </td>
      </tr>

      <tr>
        <td>
          <p>03</p>
        </td>
        <td>
          <p>NISHTA Online</p>
        </td>
        <td class="form-programme-download">
          <a href="https://itpd.ncert.gov.in/" target="_blank">https://itpd.ncert.gov.in/</a>
        </td>
      </tr>

      <tr>
        <td>
          <p>04</p>
        </td>
        <td>
          <p>CIET</p>
        </td>
        <td class="form-programme-download">
          <a href="https://ciet.nic.in/" target="_blank">https://ciet.nic.in/</a>
        </td>
      </tr>

      <tr>
        <td>
          <p>05</p>
        </td>
        <td>
          <p>DIKSHA Platform</p>
        </td>
        <td class="form-programme-download">
          <a href="https://www.diksha.gov.in/" target="_blank">https://www.diksha.gov.in/</a>
        </td>
      </tr>

      <tr>
        <td>
          <p>06</p>
        </td>
        <td>
          <p>Swayam</p>
        </td>
        <td class="form-programme-download">
          <a href="https://swayam.gov.in/" target="_blank">https://swayam.gov.in/</a>
        </td>
      </tr>

      <tr>
        <td>
          <p>07</p>
        </td>
        <td>
          <p>IGNOU</p>
        </td>
        <td class="form-programme-download">
          <a href="http://www.ignou.ac.in/" target="_blank">http://www.ignou.ac.in/</a>
        </td>
      </tr>

      <tr>
        <td>
          <p>08</p>
        </td>
        <td>
          <p>NCTE</p>
        </td>
        <td class="form-programme-download">
          <a href="https://ncte.gov.in/Website/index.aspx/" target="_blank">https://ncte.gov.in/Website/index.aspx/</a>
        </td>
      </tr>

      <tr>
        <td>
          <p>09</p>
        </td>
        <td>
          <p>Eastern Regional Council NCTE</p>
        </td>
        <td class="form-programme-download">
          <a href="http://www.ercncte.org/" target="_blank">http://www.ercncte.org/</a>
        </td>
      </tr>


    </table>
  </section>

  {{>footer}}

  <script src="/js/index.js"></script>

</body>

</html>