<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">
  <link rel="stylesheet" type="text/css" href="/css/programmes.css">

   <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>

  {{>navbar}}

   <section class="survey container m-block">
    <h2>Survey & <span class="highlighted">Research</span></h2>
    <table>
      <tr class="form-row-heading">
        <th>
          <h3>Sl No.</h3>
        </th>
        <th>
          <h3>Title</h3>
        </th>
        <th>
          <h3>Download</h3>
        </th>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Curriculum</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/Home.pdf" download target="_blank"><i class="fa-regular fa-floppy-disk"></i></a>
        </td>
      </tr>
    </table>
  </section>

  <section class="certification container m-below">
    <h2>Certification</h2>
    <table>
      <tr class="form-row-heading">
        <th>
          <h3>Sl No.</h3>
        </th>
        <th>
          <h3>Title</h3>
        </th>
        <th>
          <h3>Download</h3>
        </th>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Curriculum</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/Home.pdf" download target="_blank"><i class="fa-regular fa-floppy-disk"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Curriculum</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/Home.pdf" download target="_blank"><i class="fa-regular fa-floppy-disk"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Curriculum</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/Home.pdf" download target="_blank"><i class="fa-regular fa-floppy-disk"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Curriculum</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/Home.pdf" download target="_blank"><i class="fa-regular fa-floppy-disk"></i></a>
        </td>
      </tr>
    </table>
  </section>

   <section class="useful-links container m-below">
    <h2>Useful <span class="highlighted">Links</span></h2>
    <table>
      <tr class="form-row-heading">
        <th>
          <h3>Sl No.</h3>
        </th>
        <th>
          <h3>Title</h3>
        </th>
        <th>
          <h3>Links</h3>
        </th>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Portfolio website</p>
        </td>
        <td class="form-programme-download">
          <a href="https://ankur24.netlify.app/" target="_blank">https://ankur24.netlify.app/</a>
        </td>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Portfolio website</p>
        </td>
        <td class="form-programme-download">
          <a href="https://ankur24.netlify.app/" target="_blank">https://ankur24.netlify.app/</a>
        </td>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Portfolio website</p>
        </td>
        <td class="form-programme-download">
          <a href="https://ankur24.netlify.app/" target="_blank">https://ankur24.netlify.app/</a>
        </td>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Portfolio website</p>
        </td>
        <td class="form-programme-download">
          <a href="https://ankur24.netlify.app/" target="_blank">https://ankur24.netlify.app/</a>
        </td>
      </tr>


    </table>
  </section>

  {{>footer}}

  <script src="/js/index.js"></script>

</body>

</html>