<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">
  <link rel="stylesheet" type="text/css" href="/css/programmes.css">
  <link rel="stylesheet" type="text/css" href="/css/documents.css">
  <link rel="stylesheet" type="text/css" href="/css/gallery.css">
   <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>

  {{>navbar}}

  <section class="gallery m-block container">
    <h2>Plantation <span class="highlighted">Drive</span></h2>
    <div class="gallery-photos flex">
    <img src="/assets/images/func_01.png" alt="plantation drive image">
    <img src="/assets/images/func_02.png" alt="plantation drive image">
    <img src="/assets/images/func_01.png" alt="plantation drive image">
    <img src="/assets/images/func_02.png" alt="plantation drive image">
    <img src="/assets/images/func_02.png" alt="plantation drive image">
    <img src="/assets/images/func_01.png" alt="plantation drive image">
    <img src="/assets/images/func_02.png" alt="plantation drive image">
    <img src="/assets/images/func_01.png" alt="plantation drive image">
    <img src="/assets/images/func_01.png" alt="plantation drive image">
    <img src="/assets/images/func_02.png" alt="plantation drive image">
    <img src="/assets/images/func_01.png" alt="plantation drive image">
    <img src="/assets/images/func_02.png" alt="plantation drive image">
    </div>
    <div class="gallery-videos flex">
      <video src="/assets/videos/video.mp4" controls></video>
      <video src="/assets/videos/video.mp4" controls></video>
      <video src="/assets/videos/video.mp4" controls></video>
      <video src="/assets/videos/video.mp4" controls></video>
    </div>
  </section>

  <section class="gallery m-block container">
    <h2><span class="highlighted">Pre-Mopin</span> Celebration 2023</h2>
    <div class="gallery-photos flex">
    <img src="/assets/images/func_01.png" alt="plantation drive image">
    <img src="/assets/images/func_02.png" alt="plantation drive image">
    <img src="/assets/images/func_01.png" alt="plantation drive image">
    <img src="/assets/images/func_02.png" alt="plantation drive image">
    <img src="/assets/images/func_02.png" alt="plantation drive image">
    <img src="/assets/images/func_01.png" alt="plantation drive image">
    <img src="/assets/images/func_02.png" alt="plantation drive image">
    <img src="/assets/images/func_01.png" alt="plantation drive image">
    <img src="/assets/images/func_01.png" alt="plantation drive image">
    <img src="/assets/images/func_02.png" alt="plantation drive image">
    <img src="/assets/images/func_01.png" alt="plantation drive image">
    <img src="/assets/images/func_02.png" alt="plantation drive image">
    </div>
    <div class="gallery-videos flex">
      <video src="/assets/videos/video.mp4" controls></video>
      <video src="/assets/videos/video.mp4" controls></video>
      <video src="/assets/videos/video.mp4" controls></video>
      <video src="/assets/videos/video.mp4" controls></video>
    </div>
  </section>


  {{>footer}}

  <script src="/js/index.js"></script>
  <script src="/js/gallery.js"></script>

</body>

</html>