<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/gallery.css">
   <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
   <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous"></script>
  <title>Gallery</title>
</head>

<body>

  {{>navbar}}

  <section class="gallery m-block container">
    <h2>Plantation <span class="highlighted">Drive</span></h2>
    <div class="gallery-photos flex">
    <img src="/assets/gallery/img_12.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_02.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_01.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_04.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_05.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_06.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_07.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_08.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_09.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_10.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_11.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_03.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_13.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_14.webp" alt="plantation drive image">
    <img src="/assets/gallery/img_15.webp" alt="plantation drive image">
    </div>
    <div class="popup-img">
      <span>&times;</span>
      <img src="/assets/gallery/img_01.png" alt="">
    </div>
    
  </section>

  <section class="gallery m-block container">
    <h2><span class="highlighted">Pre-Mopin</span> Celebration 2023</h2>
    <div class="gallery-photos flex">
    <img src="/assets/gallery/m_01.webp" alt="mopin image">
    <img src="/assets/gallery/m_02.webp" alt="mopin image">
    <img src="/assets/gallery/m_03.webp" alt="mopin image">
    <img src="/assets/gallery/m_04.webp" alt="mopin image">
    <img src="/assets/gallery/m_05.webp" alt="mopin image">
    <img src="/assets/gallery/m_06.webp" alt="mopin image">
    <img src="/assets/gallery/m_07.webp" alt="mopin image">
    <img src="/assets/gallery/m_08.webp" alt="mopin image">
    <img src="/assets/gallery/m_09.webp" alt="mopin image">
    <img src="/assets/gallery/m_10.webp" alt="mopin image">
    <img src="/assets/gallery/m_11.webp" alt="mopin image">
    <img src="/assets/gallery/m_12.webp" alt="mopin image">
    <img src="/assets/gallery/m_13.webp" alt="mopin image">
    </div>
  </section>

  <section class="videos container m-below">
    <h2>Videos</h2>
    <div class="gallery-videos flex">
      <iframe src="https://www.youtube.com/embed/IC1Y58_Zbjo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/SAdZ_dCAcyk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/MNmk_5od95U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/2bMb1EaYxSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/0f6550yxVbc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/JYNkvGOfA2Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/EUG-cjaJ2-E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/-mGZofJDG6k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/5lgWaH5qAJ0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/ioR7fTqn-io" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/DWkimmPpbOw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/7vYAMi1rC_0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/aYAcB2ImK6k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/lgsJHB4M-dg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/7wmOWP5Alnk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/Jw0M40Ym2G8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </section>


  {{>footer}}

  <script src="/js/index.js"></script>
  <script src="/js/gallery.js"></script>

</body>

</html>