<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/gallery.css">
   <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
   <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous"></script>
  <title>Gallery</title>
</head>

<body>

  {{>navbar}}

  <section class="gallery m-block container">
    <h2>Plantation <span class="highlighted">Drive</span></h2>
    <div class="gallery-photos flex">
    <img src="/assets/gallery/img_01.png" alt="plantation drive image">
    <img src="/assets/gallery/img_02.png" alt="plantation drive image">
    <img src="/assets/gallery/img_03.png" alt="plantation drive image">
    <img src="/assets/gallery/img_04.png" alt="plantation drive image">
    <img src="/assets/gallery/img_05.png" alt="plantation drive image">
    <img src="/assets/gallery/img_06.png" alt="plantation drive image">
    <img src="/assets/gallery/img_07.png" alt="plantation drive image">
    <img src="/assets/gallery/img_08.png" alt="plantation drive image">
    <img src="/assets/gallery/img_09.png" alt="plantation drive image">
    <img src="/assets/gallery/img_10.png" alt="plantation drive image">
    </div>
    <div class="popup-img">
      <span>&times;</span>
      <img src="/assets/gallery/img_01.png" alt="">
    </div>
    <div class="gallery-videos flex">
      <iframe src="https://www.youtube.com/embed/7oPLVNiRK68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/7oPLVNiRK68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/7oPLVNiRK68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/7oPLVNiRK68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </section>

  <section class="gallery m-block container">
    <h2><span class="highlighted">Pre-Mopin</span> Celebration 2023</h2>
    <div class="gallery-photos flex">
    <img src="/assets/gallery/img_01.png" alt="plantation drive image">
    <img src="/assets/gallery/img_02.png" alt="plantation drive image">
    <img src="/assets/gallery/img_03.png" alt="plantation drive image">
    <img src="/assets/gallery/img_04.png" alt="plantation drive image">
    <img src="/assets/gallery/img_05.png" alt="plantation drive image">
    <img src="/assets/gallery/img_06.png" alt="plantation drive image">
    <img src="/assets/gallery/img_07.png" alt="plantation drive image">
    <img src="/assets/gallery/img_08.png" alt="plantation drive image">
    <img src="/assets/gallery/img_09.png" alt="plantation drive image">
    <img src="/assets/gallery/img_10.png" alt="plantation drive image">
    </div>
    <div class="gallery-videos flex">
      <iframe src="https://www.youtube.com/embed/7oPLVNiRK68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/7oPLVNiRK68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/7oPLVNiRK68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <iframe src="https://www.youtube.com/embed/7oPLVNiRK68" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>
  </section>


  {{>footer}}

  <script src="/js/index.js"></script>
  <script src="/js/gallery.js"></script>

</body>

</html>