<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{!-- meta tags --}}
  <meta name="keywords" content="DIET Kamki,diet kamki,DIET,diet,scert,pre-service teacher education programme,district institute of education and training,diploma,elementary education,d. el. ed.,D. El. Ed.,aalo,along college,west siang, west siang college,premier college,academic,UEE,NLM,elementary education,national literacy,trainee,teachers,universal brotherhood,himalayan culture,ICT,NEP,NEP 2020,NGO,social work,APST,Itanagar,PRI,SMC,practice of teaching,pedagogy of teaching,survey programmes,NAS,ASER,NISHTA,NCTE,CIET,IGNOU ">
  <meta name="description" content="DIET Kamki is a premier institute of education in the district. With a mission to provide academic and resource support at the grass-root level it has been established in the year 2008.">

  {{!-- css linking --}}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous" defer></script>

  <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  <title>Welcome to DIET</title>
</head>

<body>

  {{>navbar}}

  <header>
    <div class="swiper">

      {{!-- swiper content --}}
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="https://picsum.photos/1560/700/" alt="slider img_01">
          <div class="colour-overlay"></div>
        </div>
        <div class="swiper-slide"><img src="https://picsum.photos/1560/700/" alt="slider img_02">
          <div class="colour-overlay"></div>
        </div>
        <div class="swiper-slide"><img src="https://picsum.photos/1560/700/" alt="slider img_03">
          <div class="colour-overlay"></div>
        </div>
      </div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
      <div class="header-content">
        <h1 class="header-title">Education is the manifestation of the perfection already in man.</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio eligendi nulla eveniet quia reiciendis fugit
          labore debitis voluptates suscipit explicabo?</p>
        <div>
          {{>button}}
        </div>

      </div>
    </div>
  </header>

  <section class="container content-section">
    <h2>About the <span class="highlighted">Organisation</span></h2>
    <div class="flex flex-content">
      <div class="flex-content-left">
        <p>DIET Kamki is a premier institute of education in the district. With a mission to provide academic and resource support at the grass-root level it has been established in the year 2008. From that time onwards it has been working for the success of the various projects and programmes being undertaken by the district administration. Its contribution in the field of elementary education with special reference to universalization of elementary education (UEE) and National Literacy mission (NLM) cannot be underestimated. For the purpose of sustained growth and development of the education in the district it has been working since its inception and it would have been working in time to come.</p>
      </div>
      <div class="flex-content-right">
        <img src="/assets/index/about_org.webp" alt="organisation image" class="about_img">
      </div>
    </div>

  </section>

  <section class="field-works">
    <h2>Field of <br /> <span class="highlighted">Works</span></h2>
    <div class="field-boxes flex container">
      <div class="field-box">
        <img src="/assets/index/field_01.webp" alt="NEP image">
        <div class="box-content">
          <h3>D. El. Ed. Programme</h3>
          <p>Teachers are essential for nation-building, establishing peace and tranquility, creating a sense of universal brotherhood, maintaining peace and stability, and creating society free from strife and struggles. This programme is essential for becoming a teacher at elementary level, with an intake capacity of 50 trainees per session.</p>
        </div>
      </div>

      <div class="field-box">
        <img src="/assets/index/field_02.webp" alt="NEP image">
        <div class="box-content">
          <h3>Training to the In-service Teachers</h3>
          <p>We conduct training programmes for teachers and educational administrators, imparting training and workshops on pedagogical, foundational and administrative aspects of teaching. We also organize workshops and training programmes for other stakeholders of education, building up the capacity of our teachers and other educational functionaries.</p>
        </div>
      </div>

      <div class="field-box">
        <img src="/assets/index/field_03.webp" alt="NEP image">
        <div class="box-content">
          <h3>Survey & implementing other programmes of Government</h3>
          <p>We conduct surveys as per the guidelines of central and state governments and NGOs. Our trainees and faculties act as investigators and supervisors, and surveys are conducted to help researchers and stakeholders adopt future course of action. We also work as grass root workers in the implementations of central and state government projects and schemes.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="container content-section">
    <h2>Our <span class="highlighted">Mission</span></h2>
    <div class="flex flex-content mision-flex">
      <div class="flex-content-left">
        <p>Our mission is to equip our trainees with the values of universal brotherhood which conduce the peace and
          stability in the world. We are to extirpate ignorance from their minds and souls which would be able to lead
          them towards liberation, Kaivalya and summum bonum. We would make our learners’ mind illuminated and body
          strong and sturdy which could sustain in any adverse and austere situations. We are to make them resourceful,
          filled their mind with the technique of teaching and in turn, strategies of preaching before common masses as
          a torch bearer of the society. We are to equip them with knowledge and understanding which would, in turn,
          develop their learners mentally, physically and emotionally. We are to make aware our learners towards
          ecological balance and environmental upgradation. We are to train learners for the promotion, protection and
          preservation of Himalayan cultures and traditions which would enable them to access of treasure of knowledge
          and experiences learnt by their ancestors from time immemorial. We strive to train our learners mind for
          critical thinking, logical reasoning and problem solving. We prepare them for becoming a responsive and
          responsible citizen to the nation which have love and affection for their motherland. </p>
        <br />
        <p>Besides, our mission is to provide academic and resource support at the grass-root level for the success of
          the various strategies and programmes being undertaken in the areas of elementary education. we strive to
          train our in-service teachers in regard to new techniques of teaching in the light of NEP 2020. We are to make
          them resourceful and enable them to use and apply the knowledge of ICT in the teaching –learning process. We
          are to make them aware in relation to vicissitudes made in the field of education and society. Side by side we
          are to cooperate the district administration and NGOs to make our locality healthy, prosperous and sturdy.
        </p>
      </div>
      <div class="flex-content-right">
        <img src="/assets/index/mission.webp" alt="organisation image" class="mission-img">
      </div>
    </div>

  </section>

  <section class="container vision m-below">
    <h2>The <span class="highlighted">Vision</span></h2>
    <div class="vision-text">
        <p>“To build a generation of prospective teachers filled with hope and <span class="bg-highlight">aspirations,</span>equipped with knowledge, experience and understanding, adorned with new strategies and techniques, motivated with the values of <span class="bg-highlight">international understanding</span> and universal brotherhood, inspired with the ideas of sustainable development, eco-friendly behavior and environmental protection, so that we could restore and reinstall the <span class="bg-highlight">pristine glory</span> of our country as a world Guru in all walks of life.” </p>
        <i class="fa-solid fa-quote-right" ></i>
    </div>

  </section>

  <section class="notice">
    <h2>Notice</h2>
    {{!-- using swiper to get scroll container --}}
    <div class="swiper mySwiper notice-swiper container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">

          <div class="notice-box flex">
            <p class="notice-date">21/03/23</p>
            <h3 class="notice-title">The new NEP is to implemented by 17th of March</h3>
            <a href="/assets/data/Home.pdf" download target="_blank" class="notice-download">Download
              <i class="fa fa-solid fa-angles-down"></i>
            </a>
          </div>

          <div class="notice-box flex">
            <p class="notice-date">21/03/23</p>
            <h3 class="notice-title">The new NEP is to implemented by 17th of March</h3>
            <a href="/assets/data/Home.pdf" download target="_blank" class="notice-download">Download
              <i class="fa fa-solid fa-angles-down"></i>
            </a>
          </div>

          <div class="notice-box flex">
            <p class="notice-date">21/03/23</p>
            <h3 class="notice-title">The new NEP is to implemented by 17th of March</h3>
            <a href="/assets/data/Home.pdf" download target="_blank" class="notice-download">Download
              <i class="fa fa-solid fa-angles-down"></i>
            </a>
          </div>

          <div class="notice-box flex">
            <p class="notice-date">21/03/23</p>
            <h3 class="notice-title">The new NEP is to implemented by 17th of March</h3>
            <a href="/assets/data/Home.pdf" download target="_blank" class="notice-download">Download
              <i class="fa fa-solid fa-angles-down"></i>
            </a>
          </div>

          <div class="notice-box flex">
            <p class="notice-date">21/03/23</p>
            <h3 class="notice-title">The new NEP is to implemented by 17th of March</h3>
            <a href="/assets/data/Home.pdf" download target="_blank" class="notice-download">Download
              <i class="fa fa-solid fa-angles-down"></i>
            </a>
          </div>

          <div class="notice-box flex">
            <p class="notice-date">21/03/23</p>
            <h3 class="notice-title">The new NEP is to implemented by 17th of March</h3>
            <a href="/assets/data/Home.pdf" download target="_blank" class="notice-download">Download
              <i class="fa fa-solid fa-angles-down"></i>
            </a>
          </div>

          <div class="notice-box flex">
            <p class="notice-date">21/03/23</p>
            <h3 class="notice-title">The new NEP is to implemented by 17th of March</h3>
            <a href="/assets/data/Home.pdf" download target="_blank" class="notice-download">Download
              <i class="fa fa-solid fa-angles-down"></i>
            </a>
          </div>

        </div>
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
  </section>

  <section class="principal-message container">
    <h2>Principal's <span class="highlighted">Message</span></h2>
    <div class="principal-message-box flex">
      <div class="message-box-para">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae optio non autem quae illum. Repudiandae
          cupiditate id doloremque voluptas ipsa explicabo sint qui provident reprehenderit cumque, adipisci dolorem
          autem, blanditiis excepturi delectus beatae! Velit illum doloribus iure tempore esse numquam, dolores eius,
          soluta temporibus officia culpa harum aperiam unde repudiandae!</p>
        <br>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae optio non autem quae illum. Repudiandae
          cupiditate id doloremque voluptas ipsa explicabo sint plicabo sint qui provident reprehenderit cumque,
          adipisci dolorem
          autem, blanditiis excepturi delectus beatae! Velit</p>
      </div>

      <img src="/assets/index/principal_img.jpg" alt="principal image">
    </div>
  </section>

  <section class="faq container">
    <h2>Frequently Asked Questions</h2>
    <div class="accordion">
      <div class="accordion-item">
        <div class="accordion-item-header flex">
          <h3>What does D. El. Ed. Stands for?</h3>
          <div class="accordion-icon">
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>

        <div class="accordion-hidden-content">
          <p>Diploma in Elementary Education.</p>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header flex">
          <h3>What is the significance of D. El. Ed.?</h3>
          <div class="accordion-icon">
            <i class="fa-solid fa-plus"></i>
          </div>
        </div>

        <div class="accordion-hidden-content">
          <p>D. El. Ed. is the teacher education programme required to be done for becoming a teacher at elementary level. In the absence of this degree one cannot become a teacher at elementary level. Its importance becomes more and more when somebody wants to take admission in B.Ed. through IGNOU, New Delhi, because as per new directions issued by the IGNOU the students obtaining degree of D. El. Ed. through offline/ face to face mode can only be eligible to fill the admission form. Thus, the students who have completed their D. El. Ed. programme from DIET will be eligible to fill the form for admission in B. Ed. programme through IGNOU New Delhi, the largest Open University in the commonwealth nations.  </p>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header flex">
          <h3>What are the admission criteria for taking admission in D. El. Ed. in DIET Kamki?</h3>
          <div class="accordion-icon">
            <i class="fa-solid fa-plus"></i>
          </div>

          {{!-- <i class="fa-solid fa-minus"></i> --}}
        </div>

        <div class="accordion-hidden-content">
          <p>Eligibility  Criteria for taking Admission in D. El. Ed. Programme in  DIET Kamki:</p>
          <ol type="a">
            <li><span>Minimum Qualification: </span>Class XII Pass with 45% marks for APST and 50% for Non-APST candidates in aggregate from any recognized Board / Council.</li>
            <li><span>Age Limits: </span>17 years to 25 years as on date of Advertisement. However, upper age is relaxable up to 5 years for APST candidates.</li>
            <li>APST candidates seeking admission to the course are required to submit Permanent Residential Certificates (PRC) in support of the feeder district of the DIET. Temporary Residential Certificate (TRC) for APST candidates will not be accepted.</li>
          </ol>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header flex">
          <h3>What are the reservation policies in taking admission in D. El. Ed. programme at DIET Kamki?</h3>
          <div class="accordion-icon">
            <i class="fa-solid fa-plus"></i>
          </div>

          {{!-- <i class="fa-solid fa-minus"></i> --}}
        </div>

        <div class="accordion-hidden-content">
          <p>The total intake capacity of DIET Kamki is one unit i.e. 50 students per session out of which 80% seat for APST and 20% seat for Non-APST candidates have been reserved as per the norms of SCERT Itanagar. </p>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header flex">
          <h3>What are the selection procedures in D. El. Ed. programme at DIET Kamki?</h3>
          <div class="accordion-icon">
            <i class="fa-solid fa-plus"></i>
          </div>

          {{!-- <i class="fa-solid fa-minus"></i> --}}
        </div>

        <div class="accordion-hidden-content">
          <p>The selection of the candidates is made strictly on merit basis by a board constituted by DIET Kamki under the Chairmanship of Deputy Commissioner, West Siang. The merit is determined on the percentage of marks secured in Class XII examination. If total marks of two candidates secured in Class XII examination are found equal, higher marks in Class X determines the merit.</p>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header flex">
          <h3>When does Government of Arunachal Pradesh issue notification for admission in DIET Kamki?</h3>
          <div class="accordion-icon">
            <i class="fa-solid fa-plus"></i>
          </div>

          {{!-- <i class="fa-solid fa-minus"></i> --}}
        </div>

        <div class="accordion-hidden-content">
          <p>Generally in the month of June every year Government of Arunachal Pradesh issues a notification in regard to admission of D. El. Ed. programme in each DIET of Arunachal Pradesh. This notification is released by leading newspaper of Arunachal Pradesh. On the basis of this notification DIET Kamki issues a prospectus –cum-admission form which can be obtained during office hours at DIET Kamki.</p>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header flex">
          <h3>What documents are required for filling the Admission Form of D. El. Ed.?</h3>
          <div class="accordion-icon">
            <i class="fa-solid fa-plus"></i>
          </div>

          {{!-- <i class="fa-solid fa-minus"></i> --}}
        </div>

        <div class="accordion-hidden-content">
          <p>Eligibility  Criteria for taking Admission in D. El. Ed. Programme in  DIET Kamki:</p>
          <ol type="a">
            <li>Marks Sheet of Class: X</li>
            <li>Marks Sheet of Class: XII</li>
            <li>Certificate of Class: X</li>
            <li>Certificate of Class: XII</li>
            <li>Migration Certificate of last attending institution</li>
            <li>Permanent Residential Certificate (PRC)</li>
            <li>Caste/ ST certificate (in case of ST candidate)</li>
            <li>Recent character Certificate (not older than 3 months): If applicant has Character Certificate, but it is older than 3 months, then it must not be submitted. In such a situation it may be obtained from the nearest Police Station/ ADC/ 1st Class magistrate. If this certificate has been recently issued i.e. within 3 months by the competent authority, then same may be submitted.</li>
          </ol>
          <p>(N. B.: Self-attested xeroxed copies of all the above mentioned certificates must be submitted with filled in application form within stipulated time mentioned in the Prospectus-cum Admission Form.)</p>
        </div>
      </div>

      <div class="accordion-item">
        <div class="accordion-item-header flex">
          <h3>What certificates are required at the time of admission?</h3>
          <div class="accordion-icon">
            <i class="fa-solid fa-plus"></i>
          </div>

          {{!-- <i class="fa-solid fa-minus"></i> --}}
        </div>

        <div class="accordion-hidden-content">
          <p>At the time of admission all the certificates submitted by the candidate with admission form are verified in  original, but out of which the Migration & Transfer Certificates of last attending institution along with Character Certificate not older than 3 months are taken by DIET Kamki for onward submission the same to the SCERT Itanagar for final registration.</p>
        </div>
      </div>

    </div>

  </section>

  

  {{>footer}}


  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script>
    const swiper = new Swiper('.swiper', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

      // code for the notice section
  const swiper_notice = new Swiper(".mySwiper", {
    direction: "vertical",
    slidesPerView: "auto",
    freeMode: true,
    scrollbar: {
      el: ".swiper-scrollbar",
    },
    mousewheel: true,
  });

  
// for accordion in the FAQ section
  const accordion_header = document.getElementsByClassName("accordion-item-header")
  const accordion_icon = document.querySelectorAll(".accordion-icon i")
  const accordion_item = document.getElementsByClassName("accordion-item")

  for (let i = 0; i < accordion_item.length; i++) {

    accordion_header[i].addEventListener("click", () => {
      accordion_item[i].classList.toggle("active")
      const icon_plus = "fa-plus"
      const icon_minus = "fa-minus"
      if (accordion_item[i].classList.contains("active")) {
        accordion_icon[i].classList.replace(icon_plus, icon_minus)
      } else {
        accordion_icon[i].classList.replace(icon_minus, icon_plus)
      }

    })
  }

  </script>
  <script src="/js/index.js"></script>
</body>

</html>