<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">
  <link rel="stylesheet" type="text/css" href="/css/programmes.css">

  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

  <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous"></script>
  <title>Programmes</title>
</head>

<body>

  {{>navbar}}

  <section class="about-deled m-block container">
    <h2>The <span class="highlighted">D. El. Ed</span> Programme</h2>
    <p>D. El. Ed. (Diploma in Elementary Education) is a teacher education programme required to be done for becoming a
      teacher at Elementary Level i.e. from Class I to VIII. This certificate is required for the post of PRT in schools
      under Government of Arunachal Pradesh and some other states. Hence, for becoming an elementary level teacher this
      certificate is mandatory as per the provisions of RTE Act, 2009.
    </p>
    <br>
    <p>The DRC (District Resource Centre) Kamki was instituted in the year 2008 and in due course of time its status was
      altered as DIET (District Institute of Education & Training) by SCERT (State Council of Educational Research &
      Training) Itanagar. The PSTE (Pre-Service Teacher Education) Course leading 2-years Diploma in Elementary
      Education was initiated firstly in the year 2013 at DIET Kamki and from that session onwards it has been running
      till date. Presently the intake capacity is 50 out of which 25 girls and 25 boys are enrolled in the month of
      June-July every year. The Details of this programme are as under:</p>
    <br>
    <ol class="deled-ol-main">
      <li>Issue of Prospectus-cum-Application Form for Admission: In the month of June (Tentative)</li>
      <li>Duration of the course: 2 (two) Years</li>
      <li>Intake Capacity: 25 Boys and 25 Girls </li>
      <li>Reservation of seats: APST 80% and 20% General</li>
      <li>
        Eligibility:

        <ol type="a">
          <li><span>Minimum Qualification:</span> Class – XII passed with 45% marks for APST & 50% marks for Non- APST
            candidates in aggregate as per NCTE norms.</li>
          <li>In case of APST candidates permanent residents of feeder districts only are eligible. The Permanent
            Residential Certificate (PRC) is to be produced by APST candidate in support of the claim</li>
          <li>
            <span>
              Age limit:
            </span>
            Age of the candidates should not be less than 17 years and more than 25 years. However, five years upper age
            relaxation for APST candidates will be allowed.
          </li>
        </ol>
      </li>
    </ol>
  </section>

  <section class="course-str m-below container deled-content">
    <h2>Course <span class="highlighted">Structure</span></h2>
    <p>The 2-years D. El. Ed. programme is divided into four semesters. While on the one hand the 1st and 2nd semesters
      cover the pedagogical course of the primary level, on the other hand the 3rd and 4th semester cover the
      pedagogical course of the upper primary level. Besides, the Foundation Course, Practical Works and School
      Experience Programmes are included in all the semesters</p>
  </section>

  <section class="semester-dist m-below container deled-content">
    <h2>Semester Wise Distribution of Courses</h2>
    <div class="first-sem sem">
      <table>
        <h3 class="sem-caption">First Semester</h3>
        <tr class="form-row-heading">
          <th rowspan="2">
            <h3>SN</h3>
          </th>
          <th rowspan="2">
            <h3>Course Code</h3>
          </th>
          <th rowspan="2">
            <h3>Title of the Course</h3>
          </th>
          <th colspan="2">
            <h3>Maximum marks</h3>
          </th>
          <th rowspan="2">
            <h3>Total Marks</h3>
          </th>
        </tr>

        <tr class="form-row-heading">
          <th>
            <h3>Internal</h3>
          </th>
          <th>
            <h3>External</h3>
          </th>
        </tr>

        <tr>
          <td>
            <p>1</p>
          </td>
          <td>
            <p>01</p>
          </td>
          <td>
            <p>Childhood and the Development of Children</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>2</p>
          </td>
          <td>
            <p>02</p>
          </td>
          <td>
            <p>Education, Society, Curriculum and Learners</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>3</p>
          </td>
          <td>
            <p>03</p>
          </td>
          <td>
            <p>Pedagogy of English at Primary Level & early Literacy</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>4</p>
          </td>
          <td>
            <p>04</p>
          </td>
          <td>
            <p>Pedagogy of Environmental Studies</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>5</p>
          </td>
          <td>
            <p>05</p>
          </td>
          <td>
            <p>Pedagogy of Mathematics at Primary Level</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>6</p>
          </td>
          <td>
            <p>06</p>
          </td>
          <td>
            <p>School Experience Programme and Internship</p>
          </td>
          <td>
            <p>100</p>
          </td>
          <td>
            <p>-</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <p>Total</p>
          </td>

          <td>
            <p>225</p>
          </td>

          <td>
            <p>375</p>
          </td>

          <td>
            <p>600</p>
          </td>
        </tr>
      </table>

    </div>

    <div class="second-sem sem">
      <table>
        <h3 class="sem-caption">Second Semester</h3>
        <tr class="form-row-heading">
          <th rowspan="2">
            <h3>SN</h3>
          </th>
          <th rowspan="2">
            <h3>Course Code</h3>
          </th>
          <th rowspan="2">
            <h3>Title of the Course</h3>
          </th>
          <th colspan="2">
            <h3>Maximum marks</h3>
          </th>
          <th rowspan="2">
            <h3>Total Marks</h3>
          </th>
        </tr>

        <tr class="form-row-heading">
          <th>
            <h3>Internal</h3>
          </th>
          <th>
            <h3>External</h3>
          </th>
        </tr>

        <tr>
          <td>
            <p>1</p>
          </td>
          <td>
            <p>07</p>
          </td>
          <td>
            <p>Cognition, Learning and Socio-Cultural Context</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>2</p>
          </td>
          <td>
            <p>08</p>
          </td>
          <td>
            <p>Elementary Education: Status, Problem and Issues with special reference to
              Arunachal Pradesh</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>3</p>
          </td>
          <td>
            <p>09</p>
          </td>
          <td>
            <p>School Culture, Leadership and change</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>4</p>
          </td>
          <td>
            <p>10</p>
          </td>
          <td>
            <p>Hindi Bhasa Shikshan- Prathmik Star(Pedagogy of Hindi at Primary Level)</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>5</p>
          </td>
          <td>
            <p>11</p>
          </td>
          <td>
            <p>Pedagogy of Children’s Health, School Heald and Education</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>6</p>
          </td>
          <td>
            <p>12</p>
          </td>
          <td>
            <p>School Experience Programme and Internship</p>
          </td>
          <td>
            <p>100</p>
          </td>
          <td>
            <p>-</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <p>Total</p>
          </td>

          <td>
            <p>225</p>
          </td>

          <td>
            <p>375</p>
          </td>

          <td>
            <p>600</p>
          </td>
        </tr>
      </table>

    </div>

    <div class="third-sem sem">
      <table>
        <h3 class="sem-caption">Third Semester</h3>
        <tr class="form-row-heading">
          <th rowspan="2">
            <h3>SN</h3>
          </th>
          <th rowspan="2">
            <h3>Course Code</h3>
          </th>
          <th rowspan="2">
            <h3>Title of the Course</h3>
          </th>
          <th colspan="2">
            <h3>Maximum marks</h3>
          </th>
          <th rowspan="2">
            <h3>Total Marks</h3>
          </th>
        </tr>

        <tr class="form-row-heading">
          <th>
            <h3>Internal</h3>
          </th>
          <th>
            <h3>External</h3>
          </th>
        </tr>

        <tr>
          <td>
            <p>1</p>
          </td>
          <td>
            <p>13</p>
          </td>
          <td>
            <p>Contemporary Indian Society</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>2</p>
          </td>
          <td>
            <p>14</p>
          </td>
          <td>
            <p>Diversity, Gender and Inclusive Education</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>3</p>
          </td>
          <td>
            <p>15</p>
          </td>
          <td>
            <p>Pedagogy of Creative Drama, Fine Arts and Education</p>
          </td>
          <td>
            <p>40</p>
          </td>
          <td>
            <p>60</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td colspan="100%" style="font-weight: bold; font-style:italic; background-color: rgba(0, 0, 0, 0.02)">
            <p style="text-align: center;">Optional Pedagogy Courses (Any Two)</p>
          </td>
        </tr>

        <tr>
          <td rowspan="7">
            <p>4</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>16</p>
          </td>
          <td>
            <p>Hindi Bhasha Shikshan-Uchcha Prathmik Ster (Pedagogy of Hindi at Upper Primary
              Level)</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>17</p>
          </td>
          <td>
            <p>Pedagogy of English at Upper Primary Level</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>18</p>
          </td>
          <td>
            <p>Pedagogy of Science at upper primary level</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>19</p>
          </td>
          <td>
            <p>Pedagogy of Mathematics at uper primary level</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>20</p>
          </td>
          <td>
            <p>Pedagogy of Social Science at Upper Primary Level</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>21</p>
          </td>
          <td>
            <p>School Experience Programme and Internship</p>
          </td>
          <td>
            <p>100</p>
          </td>
          <td>
            <p>-</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <p>Total</p>
          </td>

          <td>
            <p>240</p>
          </td>

          <td>
            <p>360</p>
          </td>

          <td>
            <p>600</p>
          </td>
        </tr>
      </table>

    </div>

    <div class="fourth-sem sem">
      <table>
        <h3 class="sem-caption">Fourth Semester</h3>
        <tr class="form-row-heading">
          <th rowspan="2">
            <h3>SN</h3>
          </th>
          <th rowspan="2">
            <h3>Course Code</h3>
          </th>
          <th rowspan="2">
            <h3>Title of the Course</h3>
          </th>
          <th colspan="2">
            <h3>Maximum marks</h3>
          </th>
          <th rowspan="2">
            <h3>Total Marks</h3>
          </th>
        </tr>

        <tr class="form-row-heading">
          <th>
            <h3>Internal</h3>
          </th>
          <th>
            <h3>External</h3>
          </th>
        </tr>

        <tr>
          <td>
            <p>1</p>
          </td>
          <td>
            <p>22</p>
          </td>
          <td>
            <p>Information and Communication Technology Pedagogy Across Curriculum</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>2</p>
          </td>
          <td>
            <p>23</p>
          </td>
          <td>
            <p>Pedagogy of Work Education</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>3</p>
          </td>
          <td>
            <p>24</p>
          </td>
          <td>
            <p>Early childhood Care and Education</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>4</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>Population Education</p>
          </td>
          <td>
            <p>25</p>
          </td>
          <td>
            <p>75</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>5</p>
          </td>
          <td>
            <p>26</p>
          </td>
          <td>
            <p>School Experience Programme and Internship</p>
          </td>
          <td>
            <p>100</p>
          </td>
          <td>
            <p>-</p>
          </td>
          <td>
            <p>100</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>6</p>
          </td>
          <td>
            <p>27</p>
          </td>
          <td>
            <p>External Final Teaching (all pedagogy areas of four semesters)-Five Courses
              (3-courses from <strong>primary</strong> and 2-optional courses from <strong>upper primary level</strong>)
            </p>
          </td>
          <td>
            <p>-</p>
          </td>
          <td>
            <p>200</p>
          </td>
          <td>
            <p>200</p>
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <p>Total</p>
          </td>

          <td>
            <p>215</p>
          </td>

          <td>
            <p>485</p>
          </td>

          <td>
            <p>700</p>
          </td>
        </tr>
      </table>

    </div>
  </section>

  <section class="calender-programmes m-below container deled-content">
    <h2>Annual Calender of Activities</h2>
    <div class="sem sem-activities">
      <table>
        <h3 class="sem-caption">(1<sup>st</sup> and 3<sup>rd</sup> Semesters)</h3>
        <tr class="form-row-heeading">
          <th>
            <h3>Period</h3>
          </th>
          <th>
            <h3>Activities</h3>
          </th>
        </tr>

        <tr>
          <td>
            <p>16<sup>th</sup> July onwards</p>
          </td>
          <td>
            <p>Commencement of Classes</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>20<sup>th</sup> August to 30<sup>th</sup> September</p>
          </td>
          <td>
            <p>Submission of Assignments by the Pupil Teachers</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>1<sup>st</sup> to 20<sup>th</sup> October</p>
          </td>
          <td>
            <p>Preparation /Evaluation of 5 Lesson Plan for each Pedagogical Course</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>1<sup>st</sup> to 10<sup>th</sup> October</p>
          </td>
          <td>
            <p>Evaluation of Assignment/Practical Work</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>on or before 15<sup>th</sup> October</p>
          </td>
          <td>
            <p>Submission of marks of assignment to the PSTE I/C</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>on or before 22<sup>nd</sup> October</p>
          </td>
          <td>
            <p>Submission of marks of assignment to the SCERT</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>October 14<sup>th</sup> to 20<sup>th</sup> October</p>
          </td>
          <td>
            <p>Survey works (if any) like ASER, NAS etc.</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>20<sup>th</sup> October Onwards</p>
          </td>
          <td>
            <p>Practice teaching for both the Semesters (10 days)</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>November</p>
          </td>
          <td>
            <p>Activities (Cultural, Social Service, plantation, SBA , Literary etc.)</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>December</p>
          </td>
          <td>
            <p>Semester Examination as per schedule of the SCERT</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>December to January</p>
          </td>
          <td>
            <p>Break for pupil teachers as per schedule of the SCERT</p>
          </td>
        </tr>

      </table>
    </div>

    <div class="sem sem-activities">
      <table>
        <h3 class="sem-caption">(2<sup>nd</sup> and 4<sup>th</sup> Semesters)</h3>
        <tr class="form-row-heeading">
          <th>
            <h3>Period</h3>
          </th>
          <th>
            <h3>Activities</h3>
          </th>
        </tr>

        <tr>
          <td>
            <p>December to January</p>
          </td>
          <td>
            <p>Admission for 2nd and 4th Semester during break</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>1<sup>th</sup> to 15<sup>th</sup> January</p>
          </td>
          <td>
            <p>Preparation /Evaluation of 5 Lesson Plans for each Pedagogical Course</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>16<sup>th</sup> January onwards</p>
          </td>
          <td>
            <p>Commencement of Classes</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>20<sup>th</sup> to 30<sup>th</sup> January</p>
          </td>
          <td>
            <p>Submission of Assignments by the Pupil Teachers </p>
          </td>
        </tr>

        <tr>
          <td>
            <p>1<sup>st</sup> to 6<sup>th</sup> February</p>
          </td>
          <td>
            <p>Evaluation of Assignment/Practical Work</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>7<sup>th</sup> to 9<sup>th</sup> February</p>
          </td>
          <td>
            <p>Submission of marks of assignment to the PSTE I/C</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>10<sup>th</sup> to 15<sup>th</sup> February</p>
          </td>
          <td>
            <p>In-service teachers training programmes</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>16<sup>th</sup> to 20<sup>th</sup> February</p>
          </td>
          <td>
            <p>Submission of marks of assignment to the SCERT</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>February</p>
          </td>
          <td>
            <p>Final Practice teaching for 4<sup>th</sup>  Semester as per schedule of the SCERT</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>February</p>
          </td>
          <td>
            <p>Practice teaching for the 2<sup>nd</sup> Semesters</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>March</p>
          </td>
          <td>
            <p>Preparation and Evaluation of Lesson Plans for Micro-Teaching</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>April</p>
          </td>
          <td>
            <p>Activities (Cultural, Social Service, plantation, SBA, Literary etc.)</p>
          </td>
        </tr>

        <tr>
          <td>
            <p>June</p>
          </td>
          <td>
            <p>Semester Examination as per schedule of the SCERT</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>June</p>
          </td>
          <td>
            <p>Break and admission of 3<sup>rd</sup> Semester</p>
          </td>
        </tr>
        <tr>
          <td>
            <p>June</p>
          </td>
          <td>
            <p>Admission of 1<sup>st</sup> Semester</p>
          </td>
        </tr>

      </table>
    </div>
  </section>

  <section class="deled-content-box m-below container deled-content flex">
    <div class="box-first-sembreak">
    <h3>Semester Break</h3>
    <p>At the end of Semester Examination generally in the month of June and December a fifteen days semester break is admissible to the trainees.</p>
    </div>

    <div class="box-second-labarea">
    <h3>Lab Area Research</h3>
    <p>Six schools of the Kamba Circle are used as lab area schools where trainees along with the DIET faculties are supposed to carry out survey work, action research, Practice of Teaching, Internship and innovative practices as a part of academic activities of DIET Kamki. A private school located in the heartland of Dego-Kamki namely ‘Parents Hope Academy’ has been adopted by the principal DIET Kamki for its propagation and advancement from the year 2023 and thus it also comes under Lab Area School.</p>
    </div>
    
  </section>

  <section class="curriculum container m-below" style="overflow-x:auto;">
    <h2>Curriculum & <span class="highlighted">Resource</span> Materials</h2>
    <table>
      <tr class="form-row-heading">
        <th>
          <h3>Sl No.</h3>
        </th>
        <th>
          <h3>Title</h3>
        </th>
        <th>
          <h3>Download</h3>
        </th>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Admission Criteria</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/admission-criteria.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>02</p>
        </td>
        <td>
          <p>CC-01</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-01.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>03</p>
        </td>
        <td>
          <p>CC-02</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-02.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>04</p>
        </td>
        <td>
          <p>CC-03</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-03.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>05</p>
        </td>
        <td>
          <p>CC-04</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-04.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>06</p>
        </td>
        <td>
          <p>CC-05</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-05.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>

       <tr>
        <td>
          <p>07</p>
        </td>
        <td>
          <p>CC-07</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-07.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>
       
       <tr>
        <td>
          <p>08</p>
        </td>
        <td>
          <p>CC-09</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-09.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>
       <tr>
        <td>
          <p>09</p>
        </td>
        <td>
          <p>CC-10</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-10.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>
       
       <tr>
        <td>
          <p>10</p>
        </td>
        <td>
          <p>CC-13</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-13.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>
       
       
       <tr>
        <td>
          <p>11</p>
        </td>
        <td>
          <p>CC-16</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-16.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>
       
      <tr>
        <td>
          <p>12</p>
        </td>
        <td>
          <p>CC-18</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-18.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>13</p>
        </td>
        <td>
          <p>CC-19</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-19.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>14</p>
        </td>
        <td>
          <p>CC-20</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-20.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>


      <tr>
        <td>
          <p>15</p>
        </td>
        <td>
          <p>CC-22</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-22.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>16</p>
        </td>
        <td>
          <p>CC-25</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/CC-25.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>

       <tr>
        <td>
          <p>17</p>
        </td>
        <td>
          <p>Curriculum for D. El. Ed. Programme</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/curriculum-deled.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>18</p>
        </td>
        <td>
          <p>Exam rules of D. El. Ed.</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/curriculum/exam-rules.pdf" download target="_blank"><i class="fa-solid fa-angles-down"></i></a>
        </td>
      </tr>
    </table>
  </section>



  {{>footer}}
  <script src="/js/index.js"></script>

</body>

</html>