<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/about.css">
  <link rel="stylesheet" type="text/css" href="/css/programmes.css">

   <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">

   <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous"></script>
  <title>Programmes</title>
</head>

<body>

  {{>navbar}}

  <section class="about-deled m-block container">
    <h2>The <span class="highlighted">D. El. Ed</span> Programme</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, ipsum consequuntur. Itaque, ab? Nam officiis
      expedita aut officia reprehenderit esse assumenda corporis, voluptates placeat earum a enim minus aliquam omnis
      accusantium libero doloremque possimus cumque delectus natus? Corporis nostrum magnam voluptatum quisquam aliquid
      deserunt ullam! Ullam perferendis fugiat nesciunt minima consectetur vitae illo blanditiis, fugit recusandae earum
      sunt at nemo, dolorem vero iure debitis! Similique, quo eaque maiores labore a obcaecati consectetur, nemo
      laudantium exercitationem amet minus excepturi assumenda expedita ipsam. Maxime veniam explicabo magni nostrum
      laudantium, perspiciatis, dicta debitis quis tenetur modi culpa earum amet placeat cumque excepturi architecto.
    </p>
    <br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, ipsum consequuntur. Itaque, ab? Nam officiis
      expedita aut officia reprehenderit esse assumenda corporis, voluptates placeat earum a enim minus aliquam omnis
      accusantium libero doloremque possimus cumque delectus natus? Corporis nostrum magnam voluptatum quisquam aliquid
      deserunt ullam! Ullam perferendis fugiat nesciunt minima consectetur vitae illo blanditiis, fugit recusandae earum
      sunt at nemo, dolorem vero iure debitis! Similique, quo eaque maiores labore a obcaecati consectetur, nemo
      laudantium exercitationem amet minus excepturi assumenda expedita ipsam. Maxime veniam explicabo magni nost</p>
    <br>
    <p>is nostrum magnam voluptatum quisquam aliquid deserunt ullam! Ullam perferendis fugiat nesciunt minima
      consectetur vitae illo blanditiis, fugit recusandae earum sunt at nemo, dolorem vero iure debitis! Similique, quo
      eaque maiores labore a obcaecati consectetur, nemo laudantium exercitationem amet minus excepturi assumenda
      expedita ipsam. Maxime veniam explicabo magni nostrum laudantium, perspiciatis, dicta debitis quis tenetur modi
      culpa earum amet placeat cumque excepturi architecto.</p>
    <br>
    <p>accusantium libero doloremque possimus cumque delectus natus? Corporis nostrum magnam voluptatum quisquam aliquid
      deserunt ullam! Ullam perferendis fugiat nesciunt minima consectetur vitae illo blanditiis, fugit recusandae earum
      sunt at nemo, dolorem vero iure debitis! Similique, quo eaque maiores labore a obcaecati consectetur, nemo
      laudantium exercitationem amet minus excepturi assumenda expedita ipsam. Maxime veniam explicabo magni nostrum
      laudantium, perspiciatis, dicta debitis quis tenetur modi culpa earum amet placeat cumque excepturi architecto.
    </p>
  </section>

  <section class="curriculum container m-below" style="overflow-x:auto;">
    <h2>Curriculum & <span class="highlighted">Resource</span> Materials</h2>
    <table>
      <tr class="form-row-heading">
        <th>
          <h3>Sl No.</h3>
        </th>
        <th>
          <h3>Title</h3>
        </th>
        <th>
          <h3>Download</h3>
        </th>
      </tr>

      <tr>
        <td>
          <p>01</p>
        </td>
        <td>
          <p>Curriculum</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/Home.pdf" download target="_blank"><i class="fa-regular fa-floppy-disk"></i></a>
        </td>
      </tr>

      <tr>
        <td>
          <p>02</p>
        </td>
        <td>
          <p>Resources</p>
        </td>
        <td class="form-programme-download">
          <a href="/assets/data/Home.pdf" download target="_blank"><i class="fa-regular fa-floppy-disk"></i></a>
        </td>
      </tr>
    </table>
  </section>



  {{>footer}}
  <script src="/js/index.js"></script>

</body>

</html>