<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="stylesheet" type="text/css" href="/css/media-query.css">
  {{!--
  <link rel="stylesheet" href="/css/bootstrap.min.css"> --}}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <script src="https://kit.fontawesome.com/ec64b2b8aa.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>

<body>

  {{>navbar}}

    <h2>Sucess!!</h2>
  {{>footer}}

  {{!--
  <script src="/js/bootstrap.js"></script> --}}
  {{!-- script needed for the slider on the header --}}
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/form.js"></script>
</body>

</html>