<section class="cta-section">
    <div class="flex container cta-content">
      <div class="cta-content-left">
        <h2>Join us by filling up the form!</h2>
        {{>button}}
      </div>
      <div class="cta-content-right">
        <img src="/assets/index/women_cta.svg" alt="bicyle riding girl">
      </div>
    </div>

</section>

  <footer>
    <div class="container flex footer-content">
      <div class="footer-about">
        <h3>About</h3>
        <img src="/assets/index/logo_footer.png" alt="DIET logo" style="margin-bottom: 2rem;">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, pariatur facilis in repellat beatae illo sint
          itaque nemo hic exercitationem? Praesentium dolore accusamus tempora, aperiam reprehenderit hic velit
          deserunt.
          Ea nam nisi neque consectetur! Sequi corrupti provident iusto fugiat suscipit.</p>
      </div>

      <div class="footer-links">
        <h3>Important Links</h3>
        <ul class="footer-link-content">
          <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/programmes">Programmes</a></li>
              <li><a href="/training">Training & Workshop</a></li>
              <li><a href="/documents">Important Documents</a></li>
              <li><a href="Gallery">Gallery</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/form">Form</a></li>
        </ul>
      </div>

      <div class="footer-contact">
        <h3>Contact</h3>
        <div class="footer-contact-content">
          <div class="footer-contact-address flex">
            <i class="fa-regular fa-address-card"></i>
            <p>Sri Doi Ado, Former Minister,Bogdo Aalo Post Office, Aalo, West Siang, Arunachal Pradesh, 791001 </p>
          </div>
          <div class="footer-contact-phone flex">
            <i class="fa-solid fa-phone"></i>
            <p>91+ 8974164747, 91+ 8749374810, 91+ 4859309509</p>
          </div>
          <div class="footer-contact-email flex">
            <i class="fa-regular fa-envelope"></i>
            <p>doiadoaalo@gmail.com, contact@dietkamki.org</p>
          </div>
        </div>

      </div>
    </div>

    <div class="copyright">
      <span>Copyright ©2023 All rights reserved || Designed & Developed by<a href="https://ankur24.netlify.app/" target="_blank"> Aaryan & Ankur</a></span>
      {{!-- <span>Designed & Developed by <a href="https://ankur24.netlify.app/">Aaryan & Ankur</a></span> --}}
    </div>

  </footer>