<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>

    <nav>
      <div class="logos-nav">
        <div class="container flex">
          <a href="/">
            <img src="/assets/index/logo.webp" alt="organisation logo" style="width: 28rem; height: fit-content" class="nav_logo"/>
          </a>
          <img src="/assets/index/logo_azadi.svg" alt="75 years of independence" class="nav-img" style="width: 10rem"/>
          <a  class="hamburger" id="hamburger-icon"><i class="fa-solid fa-bars"></i></a>
        </div>

      </div>

      <div class="links-nav">
        <div class="container flex" id="nav">
            <ul class="flex link">
              <li><a href="/" class="active">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/programmes">Programmes</a></li>
              <li><a href="/training">Training & Workshop</a></li>
              <li><a href="/documents">Important Documents</a></li>
              <li><a href="Gallery">Gallery</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          <div class="nav_btn">
            {{>button}}
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>