tr{
    cursor: inherit;
}

tr:hover{
    background-color: inherit;
}

.form-programme-download{
    cursor: pointer;
}

.form-programme-download a{
    width: 100%;
    height: 100%;
}

.form-programme-download:hover{
    background-color: rgba(0, 0, 0, 0.02);
}

.form-programme-download a i{
    font-size: 2.5rem;
}

td{
    padding: 2rem;
}

.about-deled .deled-ol-main{
    border: 2px solid rgb(60, 60, 60);
    padding: 2rem;
}

.about-deled ol ol{
    margin-top: 1rem;
    margin-inline: 2rem;
}

.deled-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
}